{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magni fugit adipisci, tempore autem omnis id perferendis. Reiciendis velit earum ab totam aut ex tempore eveniet perspiciatis ipsum laboriosam, maiores itaque molestiae corporis cum modi culpa, facilis ratione ullam error, maxime soluta quis quisquam sed enim. Aut aspernatur voluptates deserunt ducimus eveniet, modi numquam minima fugiat reiciendis eligendi totam, unde fugit sunt vel officiis quasi! Dolorem suscipit ullam autem deleniti hic, sed consequuntur asperiores aliquam quaerat ab, adipisci optio. Ea at illo consectetur ab, dolores nesciunt delectus aliquam quod nulla laboriosam nihil minus ut, numquam alias voluptates excepturi deserunt! Harum.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
        
    </section>
</main>

{% endblock %}